format = content
outputType = html, pdf
notes = hide
bibliography = bibliography.bib
definitions = {
  settingsSloppy = "true"
  overflowIndicator = "true"
  cvtr          = "Cvtr"
  fr            = "[:math{"\mathcal{F}_r"}]"
  efrp          = "RP"
  glock         = "G-Lock"
  handcrafted   = "Handcrafted"
  parrp         = "ParRP"
  reactifi      = "ReactiFi"
  stmname       = "STM"
  rescala       = "REScala"
  apps          = "dicApps"
  Apps          = "DicApps"
  flowgraph     = "flow graph"
  FlowGraph     = "Flow Graph"
  xetexFonts = "[\usepackage{fontspec}
  \usepackage{unicode-math}
  \defaultfontfeatures{Mapping=tex-text,Scale=MatchLowercase}
  \setmainfont{Libertinus Serif}
  \setsansfont{Libertinus Sans}
  \setmathfont{Libertinus Math}
  \setmonofont{Hack}
  ]"
}
